.gif {
  padding: 30px;
  border-radius: 38px;
}

#about-us h2 {
  color: white;
}

#about-us .mobile-only {
  width: 100vw;
  margin-bottom: 0px;
}

.tutor-card {
  background-color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tutor-card img {
  width: 85%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 8px;
}

.tutor-card p {
  color: black;
  margin: 1rem;
}

.gradient-background {
  background: linear-gradient(var(--blue) 0%, #19578d 50%, var(--lightblue) 100%);
}

@media screen and (max-width: 768px) {

  #about-us .container-grid {
    display: block;
  }

  #about-us .column-50 {
    width: 100%;
  }

  .tutor-card {
    margin-left: 0;
    margin-right: 0;
  }

  .tutor-card img {
    transform: none;
    margin-left: 0;
  }

}

.caption {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.caption p {
  margin-top: -30px;
  margin-left: 2px;
  margin-right: 2px;
}

.caption img {
  width: 100%;
}

/* Here down are the "about us" parallax flipping cards css */

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  /* width: calc(25% - 2rem); */
  width: calc(33.333333% - 2rem);
  margin: 1rem;
  cursor: pointer;
  flex: none; /*overrides the built in .col flex: value which prevents the cards from maintaining their responsive design*/
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front{
  background-color: var(--blue);
  background-size: 100%;
  background-repeat: no-repeat;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: var(--dimlightblue);
  background: -webkit-linear-gradient(45deg,  var(--dimlightblue) 0%,#596a72 100%);
  background: -o-linear-gradient(45deg,  var(--dimlightblue) 0%,#596a72 100%);
  background: linear-gradient(45deg,  var(--dimlightblue) 0%,#596a72 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .45;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: var(--lightblue);
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: var(--lightblue);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100% !important;
    margin: 0 0 2rem 0 !important;
  }
}
