#c {
  background-color: white;
  color: black;
}

.card-container {
  display: flex;
}

.bullet {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  width: 25%;
}

.bullet i {
  margin-bottom: 24px !important;
  color: var(--blue);
}

.h2 {
  padding-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 600;
  color: var(--blue);
  font-size: 40px;
}

h3 {
  font-weight: 600;
  color: var(--purple);
}

@media screen and (max-width: 768px) {

  .card-container{
    display: inline-grid;
    grid-template-columns: 50% 50%;
  }

  .bullet {
    width: 100%;
    text-align: none;
  }

}

@media screen and (min-width: 768px) {

  .bullet {
    text-align: justify;
  }

}
