#journey img {
  max-width: 100%;
  height: auto;
}
@keyframes driving {
  0% {
    transform: translateY(-650px);
 }
  100% {
    transform: translateY(0);
 }
}
.journey__guts {
  padding: 3em 0rem 16rem;
}
.journey__title__container {
  text-align: center;
  position: relative;
  z-index: 1;
  transform: translateY(-3rem);
  background-color: rgb(4 31 96 / 88%);
  margin: 0.5rem 17vw;
  padding: 0.2rem 0;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 10px var(--darkpurple);
}
.journey__title__container:hover{
  box-shadow: 0px 2px 6px white;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
.journey__title__container {
  margin: 0.5rem 3vw;
}
}
#journey p, #journey h4 {
  margin-bottom: 0;
}
.journey__title {
  color: white;
  font-weight: 400;
}
.journey__subheading{
  color: var(--purple);
}
.gps-bg {
  background: linear-gradient(var(--lightblue) 0%, var(--blue) 100%);
  position: relative;
  perspective: 500px;
  overflow: hidden;
  padding-top: -18vh;
  margin-bottom: -10vh;
}
.gps-bg:after {
  content: '';
  background-color: #ffffff;
  position: absolute;
  width: 200%;
  height: 5em;
  bottom: 0;
  transform: skewY(-2deg);
}
.gps-bg__guts {
  position: absolute;
  transform: rotateX(45deg);
  width: calc(100% + 1000px);
  height: 100%;
  left: -500px;
  margin-top: -2vh;
}
.gps-bg__bg {
  height: 1300px;
  background-image: url(http://www.rastrac.com/hubfs/roads.svg);
  background-position: 50%;
  background-size: 25%;
  position: absolute;
  top: -162px;
  width: 100%;
  transform: translateY(-650px);
  animation: driving 10000ms linear 0ms infinite;
}
.gps-bg__route {
  width: 2em;
  background-color: #ffffff;
  position: absolute;
  top: -162px;
  bottom: -162px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 13px 5px rgba(0, 152, 179, 0.25);
}
.gps-bg__route:after {
  content: '';
  width: 60%;
  background-color: var(--lightblue);
  position: absolute;
  top: 0;
  bottom: 35%;
  left: 50%;
  transform: translateX(-50%);
}
/* .gps-bg__fade {
  background-image: linear-gradient(to bottom, #041f60 10%, rgba(4, 31, 96, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  z-index: 1;
} */
.gps-bg__marker {
  height: 6em;
  width: 6em;
  background-color: #fff;
  border-right: 1px solid #ddd;
  border-bottom: 3px solid #ddd;
  border-left: 1px solid #ddd;
  border-radius: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0.125em 10px 3px rgba(0, 152, 179, 0.25);
}
.gps-bg__marker:after {
  content: '';
  border-left: 1.5em solid transparent;
  border-right: 1.5em solid transparent;
  border-bottom: 3em solid var(--lightblue);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
